.navbar {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

.nav-item {
    margin: 0 25px;
    width: 150px;
    text-align: center;
    transform: translateX(-50%);
}


@media only screen and (max-width: 1280px) {
  .navbar {
    height: 40px;
  }
}