.skills-section {
    text-align: center;
    padding: 0;
}

.most-important-skills{
  padding-top: 100px;
}

.skill-category {
    height: 200px;
    padding: 20px;
    margin: 20px 0;
}

.skill-category p {
    padding-top: 10px;
}

.skill-icon {
    width: 60px;
}

.technical-skills {
    justify-content: space-around;
    height: 250px;
}

.skill-icon-wrapper {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
  
.skills-wrapper {
    margin: auto;
    padding: 0;
    width: 95%;
}

.skill-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; /* Adjust the gap between icons as needed */
  }
  
  .tooltip {
    font-size: 14px; /* Adjust the font size as needed */
  }
  
  .tooltip-inner {
    background-color: #333; /* Tooltip background color */
    color: #fff; /* Tooltip text color */
    padding: 5px 10px; /* Adjust the padding as needed */
    border-radius: 4px; /* Adjust the border-radius as needed */
  }
  
  .tooltip.bs-tooltip-top .arrow::before {
    border-top-color: #333; /* Arrow color for the top tooltip */
  }
  
  .tooltip.bs-tooltip-bottom .arrow::before {
    border-bottom-color: #333; /* Arrow color for the bottom tooltip */
  }
  
  .tooltip.bs-tooltip-left .arrow::before {
    border-left-color: #333; /* Arrow color for the left tooltip */
  }
  
  .tooltip.bs-tooltip-right .arrow::before {
    border-right-color: #333; /* Arrow color for the right tooltip */
  }
  

  @keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
  }

  .shake-animation {
    animation: shake 0.2s linear 1;
  }
  
  @media only screen and (max-width: 1280px) {
    .most-important-skills{
      padding-top: 5px;
    }
    .skill-category {
      height: 150px;
      padding: 15px;
      margin: 10px 0;
  }
  
  .skill-category p {
      padding-top: 0px;
      font-size: 16px;
  }

  h4 {
    font-size: 20px;
  }

  .skill-icon-wrapper {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  .skill-icon {
    width: 40px;
  }
  .technical-skills {
    justify-content: space-around;
    height: 250px;
    padding: 10px!important;
  }
  .mb-4 {
    margin-bottom: 0px!important;
  }
}